.App {
  font-family: 'Helvetica', sans-serif;
}

.App-container {
  margin: 0 auto;
  text-align: left;
  width: 960px;
}

.App-header {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
  padding: 15px;
}

.App-editor {
  float: right;
  width: 700px;
  margin-left: 15px;
}

.App-list {
  float: left;
  width: 260px;
}